<div class="container">
    <div ng-controller="TopicController as topicCtrl">
        <ul>
            <div class="list-group-item active">
                <span class="pull-right" ng-show="topicCtrl.isSubTopic">
                    <a href="#/">back to index</a>
                </span>
                <h3 class="list-group-item-heading" ng-bind="topicCtrl.name"></h3>
            </div>
            <div class="list-group-item" ng-show="!topicCtrl.topics || topicCtrl.topics.length == 0">
                <strong>Hint:</strong> There are no topics yet existing.
            </div>
            <li class="list-group-item" ng-repeat="topic in topicCtrl.topics | orderBy:'title'">
                <span class="pull-left">
                    <a href title="toggle posts" ng-click="topicCtrl.togglePosts(topic.id)">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
                              ng-show="!topicCtrl.postsForTopicId[topic.id].visible"></span>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"
                              ng-show="topicCtrl.postsForTopicId[topic.id].visible"></span>
                    </a>
                </span>&nbsp;&nbsp;
                <a href="#/topic/{{topic.id}}" title="show sub topic" ng-click="topicCtrl.showSubTopic(topic.id)"
                        ng-show="!topic.parent">
                    <strong ng-bind="topic.title"></strong>
                </a>
                <strong ng-show="topic.parent" ng-bind="topic.title"></strong>
                <span class="pull-right" ng-show="topicCtrl.userIsAuth()">
                    <a href title="edit topic" ng-click="topicCtrl.showTopic(topic.id)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>&nbsp;&nbsp;
                    <a href title="delete topic" ng-click="topicCtrl.delTopic(topic)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </span>
                <div ng-show="topicCtrl.postsForTopicId[topic.id].visible">
                    <div class="panel-group" >
                    <button class="btn btn-primary btn-xs"
                            ng-click="topicCtrl.showPost(topic.id)" ng-show="topicCtrl.userIsAuth()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Post
                    </button>
                    </div>
                    <div ng-show="!topicCtrl.postsForTopicId[topic.id].posts || topicCtrl.postsForTopicId[topic.id].posts == 0">
                        There are currently no posts in this topic.
                    </div>
                    <div class="panel-group"
                         ng-repeat="post in topicCtrl.postsForTopicId[topic.id].posts | orderBy:'createdDate':true">
                        <div class="panel panel-success" ng-show="topicCtrl.userIsAuth(post.user.email)">
                            <div class="panel-heading">
                                {{post.title}} - posted on {{post.editedDate | date:"EEEE, MMMM d, yyyy 'at' HH:mm"}}
                                <span class="pull-right">
                                    <a href title="edit post" ng-click="topicCtrl.showPost(topic.id, post.id)">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>&nbsp;&nbsp;
                                    <a href title="delete post" ng-click="topicCtrl.delPost(post)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </span>
                            </div>
                            <div class="panel-body">
                                <pre class="pre-wicked">{{post.text}}</pre>
                            </div>
                        </div>
                        <div class="panel panel-info" ng-show="!topicCtrl.userIsAuth(post.user.email)">
                            <div class="panel-heading">
                                {{post.title}}
                            </div>
                            <div class="panel-body">
                                <pre class="pre-wicked">{{post.text}}</pre>
                                <blockquote class="pull-right small">
                                    - posted by {{post.user.name}} on {{post.editedDate | date:"EEEE, MMMM d, yyyy 'at' HH:mm"}}
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item disabled" ng-show="topicCtrl.userIsAuth()">
                <button class="btn btn-primary" ng-click="topicCtrl.showTopic()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Topic
                </button>
            </li>
        </ul>
    </div>
</div>