<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wicked Board</title>
    <link rel="stylesheet" href="css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css" media="screen"/>
    <link rel="stylesheet" href="css/app.css" media="screen"/>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="wickedBoardApp">
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Wicked Board</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" ng-controller="UserController as userCtrl">
                <div ng-show="user.isAuth">
                    <span class="navbar-text">Signed in as {{user.userData.name}}</span>
                    <a class="navbar-link" ng-click="userCtrl.logout()">Logout</a>
                </div>
                <div ng-show="!user.isAuth">
                    <a href class="navbar-link" ng-click="userCtrl.showLogin()">Login</a>
                    <a href class="navbar-link" ng-click="userCtrl.showSignUp()">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" ng-view></div>
</body>
</html>